
#StatePage-container{
  display: grid;
  grid-template-rows: repeat(1,1fr);
  grid-template-columns: repeat(3,1fr);
  min-width: 100%;
  min-height: 100%;
}
/* ------------------------------------- */

/* ------------------------------------- */
.a-api_feed_title{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 10;
  text-align: center;
}
/* ------------------------------------- */
/* Card with comments from locals */
.a-api_feed_container{
  grid-row-start: 2;
  grid-row-end: 29;
  grid-column-start: 2;
  grid-column-end: 12;
  
}
/* ------------------------------------- */
.a-api_add_feed_button{
  grid-row-start: 30;
  grid-row-end: 31;
  grid-column-start: 8;
  grid-column-end: 12;
  
}
/* ------------------------------------- */
.a-state_name_container{
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 18;
  grid-column-end: 26;
  text-align: center;
}
/* ------------------------------------- */
.a-state_info_container{
  grid-row-start: 2;
  grid-row-end: 29;
  grid-column-start: 13;
  grid-column-end: 32;
}
/* ------------------------------------- */
  
  [class*="b-"]{
    padding: 0%;
  }
  
  .b-label-title{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 15;
  }
  
  /* ------------------------- */
  
  .b-updated-lable{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 15;
    grid-column-end: 32;
  }
  
  /* ------------------------- */
  
  .b-info-card{
    min-width: 225px;
  }

  .b-historic-values{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2; 
    grid-column-end: 32;
  }


.float-container-statename {
    padding-left: 10px;
    padding-right: 10px;
}

.float-container-infoboxes {
    padding-left: 10px;
    padding-right: 10px;
}

.float-child-1-infoboxes {
    width: 33%;
    float: left;
    padding: 20px;
}  
.float-child-2-infoboxes {
  width: 33%;
  float: center;
  padding: 20px;
}  
.float-child-3-infoboxes {
  width: 33%;
  float: right;
  padding: 20px;
}  

.float-container-graph {
  width: 65%;
  float: right;
  padding: 20px;
}

.float-container-twitterandcomments {
  padding-left: 20px;
  padding-right: 20px;
}

.float-child-1-twitter {
  width: 35%;
  float: left;
  padding: 20px;
}  
.float-child-2-comments {
width: 65%;
float: right;
padding: 20px;
}  