
#home-container{
  display: grid;
  grid-template-rows: repeat(1,1fr);
  grid-template-columns: repeat(33,1fr);
  min-width: 100%;
  max-height: 100%;
}

/* ------------------------------- */

/* ------------ */
/*      b-      */
/* Group Change */
/* ------------ */

[class*="b-"]{
  padding: 0%;
}

.b-label-title{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 15;
}

/* ------------------------- */

.b-updated-lable{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 15;
  grid-column-end: 32;
}

/* ------------------------- */

.b-info-updater{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2; 
  grid-column-end: 32;
}

.b-info-card{
  min-width: 225px;
}

/* ------------------------- */

/* ------------------------- */

.b-tweet-container{
  grid-row-start: 3;
  grid-row-end: 23;
  grid-column-start: 3;
  grid-column-end: 13;
}

/* ------------------------- */

.b-us-map{
  grid-row-start: 3;
  grid-row-end: 23;
  grid-column-start: 14;
  grid-column-end: 33;
  background-color: white;
}

/* ------------------------- */


/* ------------------------- */

